.time-report-list h4 {
  margin: 0 0 15px 0;
}

.time-report-list .form-group {
  margin: 0;
}

.time-report-list td.cell-actions {
  height: 65px;
}

.time-report-list td.cell-actions i {
  padding: 10px 15px;
}
